@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    var activeClass = ViewData.ActivePageClass(BitcoinStackerPlugin.PluginNavKey);
    var isActive = !string.IsNullOrWhiteSpace(activeClass);
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a permission="@Policies.CanModifyServerSettings"
           asp-controller="ExchangeOrder" asp-action="Index" asp-route-storeId="@storeId"
           class="nav-link @ViewData.ActivePageClass(BitcoinStackerPlugin.PluginNavKey, null, "Index")">

            <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; margin-right: 6px;" viewBox="0 0 433.886 433.886" xml:space="preserve"
                 fill="currentColor">
                <path
                    d="M294.257 127.956V25.943c0-8.284-6.716-15-15-15H15c-8.284 0-15 6.716-15 15v382c0 8.284 6.716 15 15 15h264.257c.582 0 1.16-.041 1.719-.106 1.763.063 3.531.106 5.309.106 81.388 0 147.602-66.214 147.602-147.602-.001-78.713-61.935-143.229-139.63-147.385M138.769 270.519H30v-43.576h116.841m8.678-20H30v-43.576h160.226a148.6 148.6 0 0 0-34.707 43.576m64.718-63.576H30V99.792h234.257v38.799m0-58.799H30V40.943h234.257zM30 392.943v-38.849h131.502a148.8 148.8 0 0 0 35.693 38.849zm256.284 0c-64.846 0-117.602-52.756-117.602-117.602s52.756-117.602 117.602-117.602 117.602 52.756 117.602 117.602-52.756 117.602-117.602 117.602" />

                <text x="240" y="340" font-family="Arial" font-size="180" font-weight="bold">₿</text>
            </svg>

            <span>Bitcoin Stacker</span>
        </a>
    </li>
    
    @if (isActive)
    {
        <li class="nav-item nav-item-sub">
            <a permission="@Policies.CanModifyServerSettings"
               asp-controller="ExchangeOrder" asp-action="Settings" asp-route-storeId="@storeId"
               class="nav-link @ViewData.ActivePageClass(BitcoinStackerPlugin.PluginNavKey, null, "ExchangeOrdersSettings")">Settings</a>
        </li>
    }
}
