@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Components.TruncateCenter
@using BTCPayServer.RockstarDev.Plugins.VendorPay.Controllers
@using BTCPayServer.RockstarDev.Plugins.VendorPay.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.RockstarDev.Plugins.VendorPay.ViewModels.PublicListInvoicesViewModel
@{
    Layout = "_VendorPayPublicLayout";
    ViewData["Title"] = "Your Invoices";
}

<div id="FormView" class="public-page-wrap" style="--wrap-max-width: 90%;">
    <main>

        <form method="post">
            <div class="sticky-header-setup"></div>
            <div class="sticky-header d-sm-flex align-items-center justify-content-between">
                <h2 class="mb-0">@ViewData["Title"]</h2>
                <div class="d-flex gap-3 mt-3 mt-sm-0">
                    <a asp-controller="Public" asp-action="Upload" asp-route-storeId="@Model.StoreId" class="btn btn-primary">Upload Invoice</a>
                    <div class="dropdown">
                        <button id="StatusOptionsToggle" class="btn btn-secondary dropdown-toggle dropdown-toggle-custom-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Options</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="StatusOptionsToggle">
                            <a asp-controller="Public" asp-action="ChangePassword" asp-route-storeId="@Model.StoreId" class="dropdown-item">Change Password</a>
                            <a asp-controller="Public" asp-action="Logout" asp-route-storeId="@Model.StoreId" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <partial name="_StatusMessage" />

        @if (Model.Invoices.Any())
        {
            <form method="post" asp-action="MassAction">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="mass-action-head">
                            <tr>
                                <th class="date-col">
                                    <div class="d-flex align-items-center gap-1">
                                        Created At
                                        <button type="button" class="btn btn-link p-0 fa fa-clock-o switch-time-format only-for-js" title="Switch date format"></button>
                                    </div>
                                </th>
                                <th scope="col">User</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Amount</th>
                                <th scope="col">State</th>
                                @if (Model.PurchaseOrdersRequired)
                                {
                                <th scope="col">Purchase Order</th>
                                }
                                else
                                {
                                <th scope="col">Description</th>
                                }
                                <th scope="col" class="text-end"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pp in Model.Invoices)
                            {
                                <tr id="invoice_@pp.Id">
                                    <td>@pp.CreatedAt.ToBrowserDate()</td>
                                    <td>
                                        @pp.Name
                                        <a href="mailto:@pp.Email"><i class="fa fa-envelope-o"></i></a>
                                    </td>
                                    <td>
                                        <vc:truncate-center text="@pp.Destination" link="https://mempool.space/address/@pp.Destination" classes="truncate-center-id" />
                                    </td>
                                    <td>@pp.Amount @pp.Currency</td>
                                    <td>
                                        @if (pp.State == VendorPayInvoiceState.Completed && !string.IsNullOrEmpty(pp.TxnId))
                                        {
                                            <a href="https://mempool.space/tx/@pp.TxnId" target="_blank">
                                                @pp.State.ToString()
                                            </a>
                                        }
                                        else
                                        {
                                            @pp.State.ToString()
                                        }
                                        @if (pp.State == VendorPayInvoiceState.Completed && pp.PaidAt.HasValue)
                                        {
                                            <div>@pp.PaidAt?.ToBrowserDate()</div>
                                        }
                                    </td>
                                    <td>
                                        @if (Model.PurchaseOrdersRequired)
                                        {
                                            <span style="max-width: 250px;">@pp.PurchaseOrder</span>
                                        }
                                        @if (!string.IsNullOrEmpty(pp.Description))
                                        {
                                            @if (!String.IsNullOrEmpty(pp.PurchaseOrder))
                                            {
                                                <span> - </span>
                                            }
                                            <span class="text-break" data-bs-toggle="tooltip" title="@pp.Description" style="cursor: pointer;">
                                                <span style="max-width: 250px;">@pp.Description</span>
                                            </span>
                                        }
                                    </td>
                                    <td class="text-end">

                                        @if (!string.IsNullOrEmpty(pp.InvoiceUrl))
                                        {
                                            <a data-bs-toggle="tooltip" title="View Uploaded Invoice" href="/Storage/@pp.InvoiceUrl" target="_blank" rel="noopener noreferrer">
                                                <vc:icon symbol="nav-invoice" />
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(pp.ExtraInvoiceFiles))
                                        {
                                            <a data-bs-toggle="tooltip" title="All Files"
                                               asp-action="DownloadInvoices" asp-route-invoiceId="@pp.Id" asp-route-storeId="@Model.StoreId">
                                                <vc:icon symbol="actions-download" />
                                            </a>
                                        }
                                        @if (pp.State == VendorPayInvoiceState.AwaitingApproval)
                                        {
                                            if (!string.IsNullOrEmpty(pp.InvoiceUrl) || !string.IsNullOrEmpty(pp.ExtraInvoiceFiles))
                                            {
                                                <span>-</span>
                                            }
                                            <a asp-controller="VendorPayInvoice"
                                               asp-action="Delete"
                                               asp-route-id="@pp.Id" asp-route-storeId="@Model.StoreId"
                                               class="text-danger">
                                                Delete
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        }
        else
        {
            <p class="text-secondary mt-4">
                There are no active invoices submitted for payroll.
            </p>
        }


    </main>
    <footer class="store-footer">
        <a class="store-powered-by" href="https://btcpayserver.org" target="_blank" rel="noreferrer noopener">
            Powered by <partial name="_StoreFooterLogo" />
        </a>
    </footer>
</div>
