@using System.Text.Json
@using BTCPayServer.Abstractions.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CurrencyExchangesViewModel
@{
    ViewData.SetActivePage(RockstarStrikeUtilsPlugin.PluginNavKey, "Currency Exchanges", "CurrencyExchanges");
}

<form method="post">
    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        @* <div class="d-flex gap-3 mt-3 mt-sm-0"> *@
        @*     <a asp-controller="RockstarStrikeUtils" asp-action="ReceiveRequestsCreate" class="btn btn-primary">Create Receive Request</a> *@
        @* </div> *@
    </div>
</form>

<partial name="_StatusMessage" />

<h4>Balances</h4>

<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Currency</th>
            <th scope="col">Available</th>
            <th scope="col">Outgoing</th>
            <th scope="col">Total</th>
            <th scope="col" class="text-end"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Balances)
        {
            <tr class="mass-action-row">
                <td>@item.Currency</td>
                <td>@item.Available</td>
                <td>@item.Outgoing</td>
                <td>@item.Total</td>
                <td class="text-end">
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<h4>Exchanges</h4>
<form method="post" action="CurrencyExchangesConfirm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UsdAmount" class="form-label"></label>
                <input asp-for="UsdAmount" class="form-control" />
                <span asp-validation-for="UsdAmount" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" class="btn btn-primary" id="Submit" value="Buy Bitcoin" />
            </div>
        </div>
    </div>
</form>
