@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Services
@using BTCPayServer.RockstarDev.Plugins.Payroll.Controllers
@inject IScopeProvider ScopeProvider
@inject DisplayFormatter DisplayFormatter
@model List<PayrollInvoiceController.PayrollInvoiceViewModel>
@{
    ViewData.SetActivePage("Payroll", "Payroll Invoices", "Payroll");

    var storeId = ScopeProvider.GetCurrentStoreId();
}

<form method="post">

    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <div class="dropdown">
                <button id="StatusOptionsToggle" class="btn btn-secondary dropdown-toggle dropdown-toggle-custom-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Options</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="StatusOptionsToggle">
                    <a asp-controller="Public" asp-action="ListInvoices" asp-route-storeId="@storeId" class="dropdown-item" target="_blank">
                        Share Invoice Upload Link <i class="fa fa-external-link"></i>
                    </a>
                </div>
            </div>
            <a asp-controller="PayrollInvoice" asp-action="Upload" asp-route-storeId="@storeId" class="btn btn-primary">Admin Upload Invoice</a>
            <a asp-controller="PayrollUser" asp-action="List" asp-route-storeId="@storeId" class="btn btn-secondary">Manage Users</a>
        </div>
    </div>
</form>

<partial name="_StatusMessage" />

@if (Model.Any())
{
    <form method="post" asp-action="MassAction">
        <div class="table-responsive">
            <table class="table table-hover mass-action">
                <thead class="mass-action-head">
                    <tr>
                        <th class="mass-action-select-col only-for-js">
                            <input type="checkbox" class="form-check-input mass-action-select-all" />
                        </th>
                        <th class="date-col">
                            <div class="d-flex align-items-center gap-1">
                                Created At
                                <button type="button" class="btn btn-link p-0 fa fa-clock-o switch-time-format only-for-js" title="Switch date format"></button>
                            </div>
                        </th>
                        <th scope="col">User</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Currency</th>
                        <th scope="col">State</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-end"></th>
                    </tr>
                </thead>
                <thead class="mass-action-actions">
                    <tr>
                        <th class="mass-action-select-col only-for-js">
                            <input type="checkbox" class="form-check-input mass-action-select-all" />
                        </th>
                        <th colspan="8">
                            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                                <div>
                                    <strong class="mass-action-selected-count">0</strong>
                                    selected
                                </div>
                                <div class="d-inline-flex align-items-center gap-3">
                                    <button type="submit" name="command" value="payinvoices" id="payinvoices" class="btn btn-link">
                                        <vc:icon symbol="send" />
                                        Pay Invoices
                                    </button>
                                    <button type="submit" name="command" value="download" id="download" class="btn btn-link">
                                        <vc:icon symbol="receive" />
                                        Download Invoices
                                    </button>
                                    <button type="submit" name="command" value="markpaid" id="markpaid" class="btn btn-link">
                                        <vc:icon symbol="check" />
                                        Mark Paid
                                    </button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pp in Model)
                    {
                        var detailsId = $"invoice_details_{pp.Id}";
                        <tr id="invoice_@pp.Id" class="mass-action-row">
                            <td class="only-for-js align-middle">
                                <input name="selectedItems" type="checkbox" class="form-check-input mass-action-select" value="@pp.Id" />
                            </td>
                            <td>@pp.CreatedAt.ToBrowserDate()</td>
                            <td>
                                @pp.Name
                                <a href="mailto:@pp.Email"><i class="fa fa-envelope-o"></i></a>
                            </td>
                            <td>
                                <vc:truncate-center text="@pp.Destination" link="https://mempool.space/address/@pp.Destination" classes="truncate-center-id" />
                            </td>
                            <td>@pp.Amount</td>
                            <td>@pp.Currency</td>
                            <td>
                                @if (pp.State == BTCPayServer.RockstarDev.Plugins.Payroll.Data.Models.PayrollInvoiceState.Completed &&
                               !String.IsNullOrEmpty(pp.TxnId))
                                {
                                    <a href="https://mempool.space/tx/@pp.TxnId" target="_blank">
                                        @pp.State.ToString()
                                    </a>
                                }
                                else
                                {
                                    @pp.State.ToString()
                                }
                            </td>
                            <td>
                                @if (!String.IsNullOrEmpty(pp.Description))
                                {
                                    <span class="text-break" data-bs-toggle="tooltip" title="@pp.Description" style="cursor: pointer;">
                                        <span style="max-width: 250px;">@pp.Description</span>
                                    </span>
                                }
                            </td>
                            <td class="text-end">
                                <a href="/Storage/@pp.InvoiceUrl">View Invoice</a>
                                -
                                <a asp-controller="PayrollInvoice"
                                   asp-action="Delete"
                                   asp-route-id="@pp.Id"
                                   class="text-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @section PageFootContent {
        <script>
            const ppProgresses = document.getElementsByClassName("ppProgress");
            for (var i = 0; i < ppProgresses.length; i++) {
                var pp = ppProgresses[i];
                var ppId = pp.getAttribute("data-pp");
                var template = document.getElementById("tooptip_template_" + ppId);
                pp.setAttribute("title", template.innerHTML);
            }

            function allSelectedInState(state) {
                var allCheckedItems = document.querySelectorAll('input[type="checkbox"].mass-action-select:checked');
                if (allCheckedItems.length === 0) return false;

                return Array.from(allCheckedItems).every(function (checkbox) {
                    var row = checkbox.closest('tr');
                    var stateCell = row.querySelector('td:nth-child(7)');
                    return stateCell.textContent.trim() === state;
                });
            }

            function selectedItemInState(state) {
                var allCheckedItems = document.querySelectorAll('input[type="checkbox"]:checked');
                return Array.from(allCheckedItems).every(function (checkbox) {
                    var row = checkbox.closest('tr');
                    var stateCell = row.querySelector('td:nth-child(7)');
                    return stateCell.textContent.trim() === state;
                });
            }

            function toggleButtons() {
                var markPaidButton = document.getElementById('markpaid');
                var payInvoicesButton = document.getElementById('payinvoices');
                var selectAllCheckbox = document.querySelector('.mass-action-select-all');

                if (selectAllCheckbox.checked) {
                    payInvoicesButton.style.display = allSelectedInState('AwaitingApproval') ? 'inline-block' : 'none';
                    markPaidButton.style.display = allSelectedInState('AwaitingApproval') || allSelectedInState('AwaitingPayment') || allSelectedInState('InProgress') ? 'inline-block' : 'none';
                } else {
                    payInvoicesButton.style.display = selectedItemInState('AwaitingApproval') ? 'inline-block' : 'none';
                    markPaidButton.style.display = selectedItemInState('AwaitingApproval') || selectedItemInState('AwaitingPayment') || selectedItemInState('InProgress') ? 'inline-block' : 'none';
                }
            }

            document.addEventListener('change', function (event) {
                toggleButtons()
            });

            toggleButtons();

        </script>
        }

        <partial name="_Confirm" model="@(new ConfirmModel("Delete Invoice", "Do you really want to delete the invoice...", "Delete"))" />
    </form>
}
else
{
    <p class="text-secondary mt-4">
        There are no active invoices submitted for payroll.
    </p>
}