@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Client
@using BTCPayServer.Services
@inject IScopeProvider ScopeProvider
@inject DisplayFormatter DisplayFormatter
@model List<BTCPayServer.RockstarDev.Plugins.Payroll.PayrollInvoiceController.PayrollInvoiceViewModel>
@{
    ViewData.SetActivePage("Payroll", "Payroll Invoices", "Payroll");

    var storeId = ScopeProvider.GetCurrentStoreId();
}

<form method="post">

    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <a asp-controller="PayrollInvoice" asp-action="Upload" asp-route-storeId="@storeId" class="btn btn-primary">Upload Invoice</a>
            <a asp-controller="PayrollUser" asp-action="List" asp-route-storeId="@storeId" class="btn btn-secondary">Manage Users</a>
        </div>
    </div>

    <partial name="_StatusMessage"/>

    @if (Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Created At</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-end"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pp in Model)
                    {
                        <tr>
                            <td>@pp.Name</td>
                            <td>@pp.Email</td>
                            <td>@pp.Amount</td>
                            <td>@pp.Currency</td>
                            <td>@pp.Description</td>
                            <td class="text-end">
                                <a href="/@pp.InvoiceUrl">Invoice</a> - 
                                <a asp-controller="PayrollInvoice"
                                   asp-action="Delete"
                                   asp-route-userId="@pp.Id"
                                   data-bs-toggle="modal"
                                   data-bs-target="#ConfirmModal"
                                   data-description="Do you really want to delete the invoice <strong>@Html.Encode(pp.Name)</strong>?">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @section PageFootContent {
        <script>
            const ppProgresses = document.getElementsByClassName("ppProgress");
            for (var i = 0; i < ppProgresses.length; i++) {
                var pp = ppProgresses[i];
                var ppId = pp.getAttribute("data-pp");
                var template = document.getElementById("tooptip_template_" + ppId);
                pp.setAttribute("title", template.innerHTML);
            }
        </script>
        }

        <partial name="_Confirm" model="@(new ConfirmModel("Delete Invoice", "Do you really want to delete the invoice...", "Delete"))" />
        
    }
    else
    {
        <p class="text-secondary mt-4">
            There are no active invoices submitted for payroll.
        </p>
    }


</form>