@model List<BTCPayServer.RockstarDev.Plugins.Subscriptions.Data.Models.Subscription>
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    ViewData.SetActivePage(SubscriptionPlugin.SubscriptionPluginNavKey, "Subscriptions", "Subscriptions");
}

<form method="post">
    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <a asp-action="SendReminders" asp-route-storeId="@storeId"
               class="btn btn-secondary">Send Reminders</a>
            <a asp-action="Import" asp-route-storeId="@storeId"
               class="btn btn-secondary">Import Subscriptions</a>
            <a asp-action="Create" asp-route-storeId="@storeId"
               class="btn btn-primary">Create New Subscription</a>
        </div>
    </div>
</form>

<partial name="_StatusMessage"/>

@if (Model.Any())
{
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Created</th>
                <th>Expires</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var subscription in Model)
            {
                <tr>
                    <td>@subscription.Customer?.Name <small>@subscription.Customer?.Email</small></td>
                    <td>@subscription.Product?.Name</td>
                    <td>@subscription.Created.ToString("g")</td>
                    <td>@subscription.Expires.ToString("g")</td>
                    <td>
                        <a asp-action="SendReminders" asp-route-subscriptionid="@subscription.Id"
                           asp-route-storeId="@storeId">
                            @subscription.State
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@subscription.Id" asp-route-storeId="@storeId">Edit</a>
                        <span>-</span>
                        <a asp-action="Delete" asp-route-id="@subscription.Id" asp-route-storeId="@storeId"
                           class="text-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-secondary mt-4">
        No Subscriptions.
    </p>
}
