@using BTCPayServer.RockstarDev.Plugins.Subscriptions
@model List<BTCPayServer.RockstarDev.Plugins.Subscriptions.Data.Models.Customer>
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    ViewData.SetActivePage(SubscriptionPlugin.SubscriptionPluginNavKey, "Customers", "Customers");
}

<form method="post">
    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <a asp-controller="Customer" asp-action="Create" asp-route-storeId="@storeId"
               class="btn btn-primary">Create New Customer</a>
        </div>
    </div>
</form>

<partial name="_StatusMessage" />

@if (Model.Any())
{
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Zip Code</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Address1 @customer.Address2</td>
                    <td>@customer.City</td>
                    <td>@customer.Country</td>
                    <td>@customer.ZipCode</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@customer.Id" asp-route-storeId="@storeId">Edit</a>
                        <span>-</span>
                        <a asp-action="Delete" asp-route-id="@customer.Id" asp-route-storeId="@storeId"
                           class="text-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-secondary mt-4">
        No Customers.
    </p>
}