@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.RockstarDev.Plugins.BitcoinStacker.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexLogsViewModel
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
    ViewData.SetActivePage(BitcoinStackerPlugin.PluginNavKey, "Exchange Order Logs", "ExchangeOrder");
}

<div class="sticky-header-setup"></div>
<div class="sticky-header d-sm-flex align-items-center justify-content-between">
    <h2 class="mb-0">@ViewData["Title"]</h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        @if (Model.Item.State != DbExchangeOrder.States.Completed)
        {
            <div class="dropdown">
                <button id="StatusOptionsToggle"
                        class="btn btn-secondary dropdown-toggle dropdown-toggle-custom-caret" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Switch State</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="StatusOptionsToggle">
                    @foreach (var item in Enum.GetNames(typeof(DbExchangeOrder.States)))
                    {
                        <a asp-action="SwitchState" asp-route-state="@item" asp-route-id="@Model.Item.Id"
                           asp-route-storeId="@storeId" class="dropdown-item">
                            @item
                        </a>
                    }
                </div>
            </div>
        }

        <form id="AddDelayForm" asp-controller="ExchangeOrder" asp-action="AddDelay" asp-route-storeId="@storeId" asp-route-id="@Model.Item.Id"
              method="post" style="display:none;"></form>
        <a href="#" class="btn btn-primary" onclick="event.preventDefault(); document.getElementById('AddDelayForm').submit();">
            Add Delay
        </a>

        @if (Model.Item.State != DbExchangeOrder.States.Completed)
        {
            <form id="ForceConversionForm" asp-controller="ExchangeOrder" asp-action="ForceConversion" asp-route-storeId="@storeId"
                  asp-route-id="@Model.Item.Id"
                  method="post" style="display:none;"></form>
            <a href="#" class="btn btn-primary" onclick="event.preventDefault(); document.getElementById('ForceConversionForm').submit();">
                Force Conversion
            </a>
        }
    </div>
</div>

<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Created</th>
            <th scope="col">For Date</th>
            <th scope="col">Operation</th>
            <th scope="col">Amount</th>
            <th scope="col">State</th>
            <th scope="col">Created By</th>
            <th scope="col">Delay Until</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var payout in new[] { Model.Item })
        {
            <tr>
                <td>@payout.Id</td>
                <td>@payout.Created.ToBrowserDate()</td>
                <td>@payout.CreatedForDate?.ToBrowserDate()</td>
                <td>@payout.Operation</td>
                <td>@payout.Amount.ToString("N2")</td>
                <td>@payout.State</td>
                <td>@payout.CreatedBy</td>
                <td>@payout.DelayUntil?.ToBrowserDate()</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Created</th>
            <th scope="col">Content</th>
            <th scope="col">Parameter</th>
            <th scope="col">Event</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var payout in Model.Item.ExchangeOrderLogs)
        {
            <tr>
                <td>@payout.Id</td>
                <td>@payout.Created.ToBrowserDate()</td>
                <td>@payout.Content</td>
                <td>@payout.Parameter</td>
                <td>@payout.Event</td>
            </tr>
        }
        </tbody>
    </table>
</div>
